
.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
  }
   
body {
  font-size: 18px;
  font-family: 'Gaegu', sans-serif;
  background-color: #070707;
}  

h1, h2 {
  text-align: center;
  font-weight: 400;
  line-height: 1;
}


section,

*{

padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}

header{

    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display:  flex;
    align-items:  center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    margin-right: 40rem;
}

.navlist{
    display: flex;
    justify-content: space-around;
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 25px;
    font-weight: 600;
    border-bottom: 2px solid white;
    transition: all .55s ease;
    padding:  1px 0;
}

.navlist a:first-child {
  margin-right: 1rem;
}

h1 {
    font-size: 6rem;
    animation: pulsate 0.11s ease-in-out infinite alternate;     
}
      
h2 {
    font-size: 1.8rem;
}
    
.container {
  margin-top: 20vh;
}
    
@keyframes pulsate {
    
  120% {
    
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  
  }
      
  0% {

    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #f09,
    0 0 73px #f09,
    0 0 80px #f09,
    0 0 94px #f09,
    0 0 140px #f09;
}

section {
  display:  grid;
  place-items:  center;
  align-content: center;
  min-height: 100vh;
}